<a href="https://colab.research.google.com/github/dasaCoder/sinhala-grammar-tree/blob/master/Sinhala_Grammar_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
#for local file upload
#from google.colab import files
#uploaded = files.upload()

#for google drive file upload
from google.colab import drive
drive.mount('/gdrive')

%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [0]:
#for local file upload
#import io
#df2 = pd.read_csv(io.BytesIO(uploaded['sinhala_grammar(1).xlsx']))

#for google drive file upload
file = r'/content/drive/My Drive/Research my Work update/sinhala_grammar.csv'
df = pd.read_csv(file)

df = df.dropna(how='all', axis='columns')

In [0]:
#local file print
#df = pd.read_csv("sinhala_grammar.csv")
df[0:7]

  subject    tense person  gender      animate number verb_root  is_correct
0      මම  වර්තමාන  උත්තම   නොමැත   ප්‍රාණවාචි     ඒක       අමි           1
1      මම  වර්තමාන  උත්තම   නොමැත   ප්‍රාණවාචි    බහු       අමි           0
2      මම  වර්තමාන  උත්තම   නොමැත  අප්‍රාණවාචි     ඒක       අමි           0
3      මම  වර්තමාන  උත්තම   නොමැත  අප්‍රාණවාචි    බහු       අමි           0
4      මම  වර්තමාන  උත්තම  නපුංසක   ප්‍රාණවාචි     ඒක       අමි           0
5      මම  වර්තමාන  උත්තම  නපුංසක   ප්‍රාණවාචි    බහු       අමි           0
6      මම  වර්තමාන  උත්තම  නපුංසක  අප්‍රාණවාචි     ඒක       අමි           0

In [0]:
inputs = df.drop('is_correct',axis='columns')
target = df['is_correct']

In [0]:
inputs[:5]

  subject    tense person  gender      animate number verb_root
0      මම  වර්තමාන  උත්තම   නොමැත   ප්‍රාණවාචි     ඒක       අමි
1      මම  වර්තමාන  උත්තම   නොමැත   ප්‍රාණවාචි    බහු       අමි
2      මම  වර්තමාන  උත්තම   නොමැත  අප්‍රාණවාචි     ඒක       අමි
3      මම  වර්තමාන  උත්තම   නොමැත  අප්‍රාණවාචි    බහු       අමි
4      මම  වර්තමාන  උත්තම  නපුංසක   ප්‍රාණවාචි     ඒක       අමි

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
subject = LabelEncoder()
tense = LabelEncoder()
person = LabelEncoder()
gender = LabelEncoder()
animate = LabelEncoder()
number = LabelEncoder()
verb_root = LabelEncoder()

In [0]:
inputs['subject_en'] = subject.fit_transform(inputs['subject'])
inputs['tense_en'] = tense.fit_transform(inputs['tense'])
inputs['person_en'] = person.fit_transform(inputs['person'])
inputs['gender_en'] = gender.fit_transform(inputs['gender'])
inputs['animate_en'] = animate.fit_transform(inputs['animate'])
inputs['number_en'] = number.fit_transform(inputs['number'])
inputs['verb_root_en'] = verb_root.fit_transform(inputs['verb_root'])
#inputs.head()

In [0]:
encoded_inputs = inputs.drop(['subject','tense','gender','animate','number','verb_root','person'],axis='columns')
encoded_inputs

     subject_en  tense_en  person_en  ...  animate_en  number_en  verb_root_en
0            32         2          0  ...           1          0             8
1            32         2          0  ...           1          1             8
2            32         2          0  ...           0          0             8
3            32         2          0  ...           0          1             8
4            32         2          0  ...           1          0             8
..          ...       ...        ...  ...         ...        ...           ...
784          19         2          1  ...           1          0            10
785          19         2          1  ...           1          0            16
786          19         0          1  ...           1          0            17
787          19         0          1  ...           1          0            13
788          19         1          1  ...           1          0             1

[789 rows x 7 columns]

In [0]:
#subject.inverse_transform([33])
#tense.inverse_transform([0])
#person.inverse_transform([0])
#gender.inverse_transform([1])
#animate.inverse_transform([1])
#number.inverse_transform([0])
verb_root.inverse_transform([18])

array(['ඌහ'], dtype=object)

In [0]:
from sklearn import tree

In [0]:
model = tree.DecisionTreeClassifier()

from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(encoded_inputs, target, test_size=0.3, random_state=1)

In [0]:
model.fit(train_X,train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [0]:
model.score(test_X,test_y)

0.8945147679324894

In [0]:
test_X

     subject_en  tense_en  person_en  ...  animate_en  number_en  verb_root_en
541          20         2          1  ...           1          1            16
310          30         2          2  ...           1          1            22
763           5         2          1  ...           1          1            10
516          11         2          1  ...           1          1             9
245           9         2          2  ...           1          0             9
..          ...       ...        ...  ...         ...        ...           ...
571          18         2          1  ...           1          0            11
765           5         2          1  ...           1          1             8
701          17         2          1  ...           1          1            21
399           8         2          1  ...           1          0             0
455          15         2          1  ...           1          0            23

[237 rows x 7 columns]

In [0]:
print(model.predict([[33,1,0,1,1,0,18]]))

[0]

In [0]:
!pip install polyglot

Collecting polyglot
  Downloading https://files.pythonhosted.org/packages/e7/98/e24e2489114c5112b083714277204d92d372f5bbe00d5507acf40370edb9/polyglot-16.7.4.tar.gz (126kB)
     |████████████████████████████████| 133kB 9.2MB/s
Building wheels for collected packages: polyglot
  Building wheel for polyglot (setup.py) ... done
  Created wheel for polyglot: filename=polyglot-16.7.4-py2.py3-none-any.whl size=52560 sha256=ed5f50300f9386f52b1f0d929f8d5da73e8547786fd4ce5dd116a3eb1abd3bfa
  Stored in directory: /root/.cache/pip/wheels/5e/91/ef/f1369fdc1203b0a9347d4b24f149b83a305f39ab047986d9da
Successfully built polyglot
Installing collected packages: polyglot
Successfully installed polyglot-16.7.4

In [0]:
!pip install PyICU

Collecting PyICU
  Downloading https://files.pythonhosted.org/packages/95/0c/0fb09019efb65a29789ec5538f8e521b8f548da6935a3a474e19fbf2ea4d/PyICU-2.4.2.tar.gz (219kB)
     |████████████████████████████████| 225kB 10.1MB/s
Building wheels for collected packages: PyICU
  Building wheel for PyICU (setup.py) ... done
  Created wheel for PyICU: filename=PyICU-2.4.2-cp36-cp36m-linux_x86_64.whl size=1244988 sha256=af242233b428b79aa7f098f3c82212c0d6ff83a5a7a87fd81bc673a3cfd89b2a
  Stored in directory: /root/.cache/pip/wheels/d6/78/89/08a15173ae1905de95ce9a5f55b17259ca5b462ed11a4c068c
Successfully built PyICU
Installing collected packages: PyICU
Successfully installed PyICU-2.4.2

In [0]:
!pip install pycld2

Collecting pycld2
  Downloading https://files.pythonhosted.org/packages/21/d2/8b0def84a53c88d0eb27c67b05269fbd16ad68df8c78849e7b5d65e6aec3/pycld2-0.41.tar.gz (41.4MB)
     |████████████████████████████████| 41.4MB 56kB/s
Building wheels for collected packages: pycld2
  Building wheel for pycld2 (setup.py) ... done
  Created wheel for pycld2: filename=pycld2-0.41-cp36-cp36m-linux_x86_64.whl size=9833474 sha256=e44d4e565b7eadd8f9d5f7f3a7925fb210a4e7481b53e1fd852d37f94b1e0b28
  Stored in directory: /root/.cache/pip/wheels/c6/8f/e9/08a1a8932a490175bd140206cd86a3dbcfc70498100de11079
Successfully built pycld2
Installing collected packages: pycld2
Successfully installed pycld2-0.41

In [0]:
!pip install morfessor

Collecting morfessor
  Downloading https://files.pythonhosted.org/packages/39/e6/7afea30be2ee4d29ce9de0fa53acbb033163615f849515c0b1956ad074ee/Morfessor-2.0.6-py3-none-any.whl
Installing collected packages: morfessor
Successfully installed morfessor-2.0.6

In [0]:
!polyglot download morph2.si

[polyglot_data] Downloading package morph2.si to
[polyglot_data]     /root/polyglot_data...

In [0]:
#morphological analyzer
import polyglot
from polyglot.text import Text,Word

#method declaration
def POStagged(searchstring):
   # print(searchstring)
#Declaration of array
    z = []
    array2D = []

#File opening in 2D array
    with open("/content/drive/My Drive/Research my Work update/simple_sample.txt",encoding="utf-8-sig") as f:
      lines = f.readlines()
      for i, line in enumerate(lines):
        if 0 < i < len(lines):
          array2D.append(line.rstrip("\n").split(' '))
          y = ([z[1] for z in array2D if z[0] == searchstring])
          w = ([z[0] for z in array2D if z[0] == searchstring])
        #print(y)
      print(y)
      if not y:
        print("empty")
      else:
        if y[0] == 'PRP':
            Noun = w[0]
            #print('Pronoun ->',Noun)
        elif y[0] == 'NNC':
            Common_Noun = w[0]
            #print('Common Noun ->',Common_Noun)
        if y[0] == 'VFM':
            Verb = w[0]
            #print('Verb ->',Verb)
            words = [Verb]
            for w in words:
              w = Word(w,language="si")
              #print(w)
              #print("Morphem of word: {:<20}{}".format(w,w.morphemes))
        elif y[0] == 'RB':
            Adverb = w[0]
            #print('Adverb ->',Adverb)
        elif y[0] == 'RP':
            Nipatha = w[0]
            #print('Nipatha ->',Nipatha)
        
        return y[0]
    return "Not Found"

#separating white spaces from words and returning words only in an array

In [0]:
  w = "පූසෝ"
  w = Word(w,language="si")
  print("Morphem of word: {:<20}{}".format(w,w.morphemes))

Morphem of word: පූසෝ                ['පූ', 'සෝ']

In [0]:
## check singularr or plural
def isSingular(w):
  plural_suffixes = ["න්",'ෝ','කරුවන්','වරුන්']
  w = Word(w,language="si")

  for suffix in plural_suffixes:
    if suffix == w.morphemes[1]:
      return "බහු"
  
  return "ඒක"

In [0]:
print(isSingular("කාන්තාවන්"))

බහු

In [0]:
#print(POStagged("මම"))
import string

def posstaggedSentence(sentence):
  translator = str.maketrans('', '', string.punctuation)
  st = sentence.translate(translator)
  new_str = st.split()

  q = []
  q = new_str
  taggedSentence = []
  for line in q: 
    taggedSentence.append(POStagged(line))
  print(taggedSentence)

In [60]:
POStagged("ගමටkk")

[]
empty

'Not Found'

In [0]:
input_str = "   මම   ගමට? ගියෙමි'    හරි. ඇය සතුට මෙසේ විස්තර කරන්නී ය."
translator = str.maketrans('', '', string.punctuation)
st = input_str.translate(translator)
new_str = st.split()

print(new_str)

q = []
q = new_str
for line in q:
  #print(line)
#calling the method  
  POStagged(line)
#print(*new_str, sep = "\n")

['මම', 'ගමට', 'ගියෙමි', 'හරි', 'ඇය', 'සතුට', 'මෙසේ', 'විස්තර', 'කරන්නී', 'ය']

In [0]:
## identifying the person of the subject
import string

q = ['මම','අපි']
p = ['තෝ','තී','තොපි','තෙපි','ඔබ','නුඹ','ඔබලා','නුඹලා']
#r = 'හෙතම'
#r = "අපි"
#r = "තී"
#r = "නුඹලා"
#r = "හේ"
person_1 = "උත්තම"
person_2 = "මධ්‍යම"
person_3 = "ප්‍රථම"

def person(r):
    for line in q:
        if(line == r):
            return 'Subject ->',line,'Person ->',person_1   
    for li in p:
        if(li == r):
            return 'Subject ->',li,'Person ->',person_2
    
    return 'Subject ->',r,'Person ->',person_3

     
person("හේ")

('Subject ->', 'හේ', 'Person ->', 'ප්\u200dරථම')